################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RadioTime/bin
/RadioTime/obj
/RadioTimeOpmlApi/bin
/RadioTimePlugin/bin
