<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RadioTimeOpmlApi.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <RadioTimeOpmlApi.Properties.Settings>
      <setting name="RadioTimeOpmlApi_com_radiotime_services_RadioTimeWebService" serializeAs="String">
        <value>http://services.radiotime.com/RadioTime.asmx</value>
      </setting>
      <setting name="RadioTimeOpmlApi_com_radiotime_opml_Radio" serializeAs="String">
        <value>http://opml.radiotime.com/Radio.asmx</value>
      </setting>
    </RadioTimeOpmlApi.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>